Source: waydroid-sensors
Section: admin
Priority: optional
Build-Depends: cmake (>= 2.8.10),
               debhelper (>= 9),
               dbus,
               libglib2.0-dev,
               libglibutil-dev,
               libgbinder-dev (>= 1.1.20),
               pkg-config,
Maintainer: Erfan Abdi <erfangplus@gmail.com>
Standards-Version: 3.9.5
Homepage: https://github.com/WayDroid/waydroid-sensors

Package: waydroid-sensors
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libsensorfw-qt5-plugins,
Description: Provides android sensors HAL using libgbinder to waydroid
 Using sensorfw dbus and socket.
